.container {
  width: 95%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.containerBody {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los componentes al inicio si tienen diferentes alturas */
  flex-wrap: wrap;
  gap: 3rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    gap: 1.5rem;
  }

  .containerBody {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}